absl-py
aiofiles
aiohttp
aiosignal
altair
annotated-types
antiword
anyio
apache-beam
argcomplete
astunparse
async-timeout
attrs
avro-python3
beautifulsoup4
blinker
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
chromedriver-autoinstaller
click
colorama
colorclass
compressed-rtf
comtypes
contextlib2
contourpy
cryptography
cssselect
cssutils
cvzone
cycler
Cython
decorator
dlib
dnspython
docx2txt
dominate
easygui
ebcdic
exceptiongroup
extract-msg
face-recognition
face-recognition-models
fastapi
ffmpy
filelock
Flask
Flask-Bootstrap
Flask-PyMongo
flatbuffers
fonttools
frozenlist
fsspec
gast
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
gradio
gradio_client
grpcio
gTTS
gunicorn
h11
h5py
httpcore
httplib2
httpx
huggingface-hub
idna
imageio
imageio-ffmpeg
IMAPClient
importlib-resources
install
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
kiwisolver
labelImg
lark
libclang
llvmlite
lvis
lxml
Markdown
MarkupSafe
matplotlib
mediapipe
ml-dtypes
more-itertools
MouseInfo
moviepy
mpmath
msoffcrypto-tool
multidict
mutagen
networkx
numba
numpy
oauthlib
object-detection
olefile
oletools
openai
openai-whisper
opencv-contrib-python
opencv-python
opt-einsum
orjson
outcome
packaging
pandas
pcodedmp
pdfminer.six
Pillow
playsound
portalocker
premailer
proglog
protobuf
pyasn1
pyasn1-modules
PyAudio
PyAutoGUI
pycocotools
pycparser
pycryptodome
pycryptodomex
pydantic
pydantic_core
pydub
PyGetWindow
pyglet
pymongo
PyMsgBox
PyMuPDF
PyMuPDFb
pyparsing
PyPDF2
pyperclip
pypiwin32
pypng
PyQt5
PyQt5-Qt5
PyQt5-sip
PyRect
PyScreeze
PySocks
pytextract
python-dateutil
python-multipart
python-pptx
python-vlc
pyttsx3
pytube
pytweening
pytz
pywin32
PyYAML
pyzbar
qrcode
red-black-tree-mod
referencing
regex
requests
requests-oauthlib
rpds-py
rsa
RTFDE
sacrebleu
safetensors
scikit-learn
scipy
seaborn
selenium
semantic-version
six
sniffio
sortedcontainers
sounddevice
soupsieve
SpeechRecognition
starlette
striprtf
sympy
tabulate
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io
tensorflow-io-gcs-filesystem
termcolor
textract
tf-models-official
tf-slim
threadpoolctl
tiktoken
tokenizers
toolz
torch
tqdm
transformers
trio
trio-websocket
typing_extensions
tzdata
tzlocal
ucimlrepo
uritemplate
urllib3
uuid
uvicorn
visitor
webptools
websockets
Werkzeug
win-unicode-console
wrapt
wsproto
xlrd
XlsxWriter
yagmail
yarl
